@media (max-width: 1024px) {
  .web-name {
  	height: 43px;
  	width: 144px;
	}

	.btn-primary {
		font-size: 14px;
	}

  .banner-advantages-font {
    font-size: 24px;
  }

  .banner-sologan-font {
    font-size: 14px;
  }

  .section-icon-font {
    font-size: 30px;
  }

  .section-title-font {
    font-size: 36px;
  }

  .partner-mark {
    font-size: 64px;
  }
}

@media (max-width: 576px) {
	.web-name {
 	  height: 29px;
	  width: 96px;
	}

	.btn-primary {
		font-size: 14px;
	}

  .banner-advantages-font {
    font-size: 18px;
  }

  .banner-sologan-font {
    font-size: 9px;
  }

  .section-icon-font {
    font-size: 20px;
  }

  .section-title-font {
    font-size: 24px;
  }

  .sologan-font {
    font-size: 13px;
  }

  .tools-text-font {
    font-size: 14px;
  }

  .partner-mark {
    font-size: 48px;
  }

  .partner-text-font {
    font-size: 14px;
  }

  .info-title-font {
    font-size: 12px;
  }
}
