p {
  color: black; 
  font-size: 13px;
  text-align: justify;
  line-height: 1.8;
  display: block;
}

li {
  list-style: none;
  color: white;
  margin: 5px 30px;
  display: inline-block;
  font-size: 10px;
  transform: .5s;
  padding: 1px;
  border: none;
  border-radius: 100%;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.margin-auto {
  margin: auto;
}

.page-width {
  width: 100%;
}

.text-white {
  color: white;
}

.background-linear-gradient {
  background: linear-gradient(to right, #429321, #B4EC51); 
}

.background-contain {
  background-size: cover;
  background-repeat: no-repeat;
}

.font-weight {
  font-weight: bold;
}

.para-alignment {
  margin: 20px 15px;
}

.body-text-sologan {
  font-size: 14px;
  padding-bottom: 10px;
}

.banner-text-sologan {
  font-size: 18px;
}

.container-by-row {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  padding: 100px 15%;
}

.section-title-container {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  padding-bottom: 10px;
}

.section-part {
  width: 45%;
  height: 330px;
  margin: 0 20px;
}

.container-by-row-rev {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  padding: 100px 15%;
}

.container-by-column {
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
}

.lppc-container {
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  overflow: hidden;
}

.lppc-banner {
  background-image: url(./image/banner.png);
}

.banner-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 10px;
}

.banner-button-container {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
}

.banner-about-us-button {
  padding: 11px;
  width: 80px;
  height: 40px;
  font-size: 12px;
  background-color: unset;
  border: none;
}

.banner-sign-in-button {
  padding: 10px;
  width: 80px;
  height: 40px;
  font-size: 12px;
  color: #8BC34A;
  border-radius: 20px;
  border: 2px solid #8BC34A;
  background-color: unset;
}

.start-button {
  padding: 10px;
  width: 140px;
  height: 40px;  
  font-size: 16px;
  border-radius: 30px;
  box-shadow: none;
}

.banner-advantages {
  padding: 10px;
  width: 100%;
  max-height: 100px;
  font-weight: bold;
}

.banner-advantages-container {
  padding-top: 15px;
}

.advantages {
  padding: 10px;
  width: 240px;
  height: 140px;
  font-size: 36px;
  align-self: center;
}

.section-title-icon-detail {
  width: 50%;
  height: 60px;
  font-size: 38px;
  padding-right: 20px;
}

.section-text-icon-detail {
  width: 24px;
  height: 24px;
  font-size: 18px;
  color: #8BC34A;
}

.section-text {
  font-size: 48px;
  margin-top: -15px;
}

.section-doc-box {
  width: 90%;
  margin: -13px 10px;
}

.banner-icon-detail {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.ti-gift {
  padding: 70px 220px;
}

.ti-alarm-clock {
  padding-top: 70px;
}

.ti-thumb-up {
  padding: 70px 220px;
}

.advantages-container {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  max-height: 60px;
}

.lppc-section {
  box-shadow: 1px 1px 10px #C4C4C4;
}

.lppc-webname {
  width: 190px;
  height: 46px;
  align-self: flex-start;
  background-image: url(./image/hapoErp_2@2x.png);
  margin-top: 80px;
}

.lppc-webname-contrast {
  width: 190px;
  height: 46px;
  align-self: flex-start;
  background-image: url(./image/hapoErp_2@2x.png);
}

.learnt-today-interface {
  background-image: url(./image/til.png);
}

.report-interface {
  background-image: url(./image/dailyReport.png);
}

.tools {
  margin: 0 20px;
  width: 145px;
  height: 160px;
}

.tools-container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 100px 10%;
}


.tools-icon-detail {
  width: 460px;
  height: 60px;
  font-size: 40px;
  margin: 30px;
}

.tools-border-top {
  width: 100px;
  height: 100px; 
  border-radius: 100%;
  border: 2px solid white;
  align-self: center;
}

.tools-border-bottom {
  width: 40px;
  height: 40px; 
  border-radius: 100%;
  background-color: #8BC34A;
  border: 2px solid white;
  align-self: center;
  margin: 10px 28px;
}

.tools-num {
  color: white;
  size: 24px;
  padding: 11px 16px;
}

.tools-text {
  color: white;
  width: 70px;
  height: 40px;
  padding: 30px 15px;
  size: 16px;
  text-align: justify-all;
}

.tools-icon {
  padding-top: 30px;
}

.mem-diagrph {
  background-image: url(./image/members.png);
}

.cus-interface {
  background-image: url(./image/dailyReport.png);
}

.lppc-partner {
  background-image: url(./image/rectangle3.png);
}

.partner-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
}

.partner-container-by-row {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.partner-title-text {
  width: 400px;
  max-height: 60px;
  font-size: 48px;
  padding: 50px;
  align-self: center;
}

.partner-avt {
  max-height: 130px;
  align-self: flex-start;
}

.partner-icon {
  border-radius: 50%;
  background-color: white;
  height: 10px;
  width: 10px;
  align-self: center;
  border: 1px solid white; 
  margin: 15px 5px;
}

.partner-icon-next {
  border-radius: 50%;
  background-color: unset;
  height: 10px;
  width: 10px;
  align-self: center;
  border: 0.5px solid white; 
  margin: 0 5px;
}

.avt-text-top {
  color: white;
  font-size: 13px;
  width: 60px;
  height: 15px;
}

.avt-text-bot {
  color: white;
  font-size: 10px;
  width: 60px;
  height: 15px;
}

.avt-img {
  background-image: url(./image/ourcustom1.png);
  width: 60px;
  height: 60px;
}

.avt-column-container {
  padding-left: 40px;
}

.partner-doc {
  max-height: 137px;
}

.partner-mark-end {
  color: grey;
  font-size:36px;
  align-self: flex-end;
}

.partner-mark-start {
  color: grey;
  font-size: 36px;
  align-self: flex-start;
}

.partner-comment-text {
  width: 590px;
  max-height: 80px;
  font-size: 14px;
  text-align: justify;
  margin: 0 65px;
}

.project-interface {
  background-image: url(./image/members.png);
}

.lppc-footer {
  color: #8BC34A;
  background-color: #39474E;
  max-height: 210px;
}

.footer-container {
  padding-top: 50px;
}

.footer-column {
  padding: 0 15px;
  max-width: 370px;
  height: 200px;
  font-size: 10px;
  align-self: center;
}

.footer-text {
  width: 120px;
  height: 40px;
  font-size: 13px;
  align-self: flex-start;
  color: #8BC34A;
}

.footer-text-top-alignment {
  margin-top: 10px;
}

.footer-icon-detail {
  width: 15px;
  height: 15px;
  font-size: 15px;
  color: #8BC34A;
  padding: 70px 3px;
}
