@import "variable";

html, 
body {
  width: 100%;
  font-family: 'Roboto';
  color: #222;
  font-weight: bold;
}

p {
  color: black; 
  text-align: justify;
  line-height: 1.8;
  display: block;
  font-weight: bold;
}

.background-contain {
  background-size: cover;
  background-repeat: no-repeat;
}

.lp-banner {
  background-image: url(./image/banner.png);
}

.web-name {
  height: 77px;
  width: 256px;
}

.btn-outline-light {
  font-size: 12px;
  background-color: unset;
  border: none;
  color: black;
  &:hover {
    color: $dark-green;
  }
}

.btn-outline-secondary {
  font-size: 12px;
  color: $medium-green;
  border-radius: 30px;
  border: 2px solid $medium-green;
  &:hover {
    color: $dark-green;
    border: 2px solid $dark-green;
  }
}

.btn-primary {
  width: 144px;
  height: 45px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.btn-primary, 
.tools {
  background: linear-gradient(to right, $dark-green, $light-green); 
}

.banner-advantages-font, 
.section-title-font {
  font-size: 48px;
}

.tools-num-font {
  font-size: 24px; 
}

.tools-icon-font, 
.section-icon-font,
.banner-advantages-text-font {
  font-size: 36px;
}

.font-30,  {
  font-size: 30px;
}

.tools-text-font {
  font-size: 16px;
}

.partner-text-font, 
.head-of-para-icon, 
.banner-sologan-font {
  font-size: 18px;
}

.head-of-para-icon {
  color: $medium-green;
  font-size: 18px;
}

.sologan-font, 
.partner-name-font {
  font-size: 14px;
}

.info-icon-font, 
.info-title-font {
  font-size: 12px;
}

p, 
html, 
body {
  font-size: 13px;
}

.partner-pos-font, 
.info-text-font {
  font-size: 10px;
}

.white {
  color: white;
}

.today-i-learnt-interface {
  background-image: url("./image/til.png");
}

@mixin tools-border($width, $height) {
  width: $width;
  height: $height;
  border-radius: 100%;
  border: 2px solid white;
  align-self: center;
}

.tools-border-top {
  padding-top: 30px;
  @include tools-border(100px, 100px);
}

.tools-border-bottom {
  margin: -20px 0 0 28px;
  background-color: $medium-green;
  @include tools-border(45px, 45px);
}

.lp-partner {
  background-image: url(./image/rectangle3.png);
}

@mixin partner-icon($background-color) {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  align-self: center;
  border: 1px solid white;
  background-color: $background-color
}

.partner-icon-first {
  @include partner-icon(white);
}

.partner-icon-next {
  @include partner-icon(unset);
}

.partner-mark {
  line-height: 0.8;
  color: grey;
  font-size:72px;
}

.lp-footer {
  color: $medium-green;
  background-color: $indigo-blue;
}

@import "responsive";
